<% @products.each do |product| %>
<p>
pid: <%= product.pid %>
pname: <%= product.pname %>
price: <%= product.price %>
quantity: <%= product.qty %>
availability: <%= product.available %>
<%= link_to 'add products',new_products_path %>
<%= link_to 'delete',product,method: :delete %>
<%= link_to 'edit',edit_products_path(product) %>
pid: <%= link_to.product.pid,products_path(product) %>
pname: <%= link_to.product.pname,products_path(product) %>
price: <%= link_to.product.price,products_path(product) %>
quantity: <%= link_to.product.qty,products_path(product) %>
availability: <%= link_to.product.available,products_path(product) %>
</p>
<% end %>