<div class="row">
<% @products.each do |product| %>
  <div class="col-sm-6 col-md-3">
  <div class="thumbnails">
    <%= link_to (image_tag product.image.url(:medium), class: 'image'), product %>
  </div>
  </div>
  <% end %>
  </div>